.body{
margin:0;
padding:0;
font-family: Century Gothic;
}

main {
max-width: 1200px;
margin:auto;
}

header{
background-image: url(background.jpg);
height:100vh;
background-position: center;
}

ul{
float: right;
list-style-type:none;
margin-top:25px;
}

ul li{
display: inline-block;
}

.vidpl1{
width: 500px;
height: auto;
position:absolute;
padding-left: 37px;
padding-right: 25px;
padding-top:50px;
padding-bottom: 0px;
top:50%;
left:50%;
transform: translate(-50%, -50%);
}

ul li a{
text-decoration: none;
font-size:40px;
color:#ff5100;
padding: 10px 40px;
border: 1px solid transparent;
transition: 0,6s ease;
}

.active{
background: #b33900;
color:#000;
}

.bbtn{

}

.bbbtn{
float: left;
list-style-type:none;
margin-top:25px;
padding-left: 25px;
font-size:30px;
}

.bb{
font-size: 27px;
padding: 10px 30px;
color: #ff1600ff;
transition: 0,6s ease;
text-decoration:none;
}
